.gradle
build
bin/
*.class

# macOS
.DS_Store

# Stray jenv markers outside repo root
src/**/.java-version
bin/**/.java-version
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/